<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add To Do</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class = "container">
        <br>
        <h3>Adding Page</h3>
        <br>

    <!-- <form method="POST" data-th-action="@{/todos/add}" data-th-object="todo">
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter name.">
        <label>Description</label>
        <input type="text" name="description" placeholder="Enter description.">
        <label>Due Date</label>
        <input type="date" name="dueDate" placeholder="Enter due date.">
        <label>Priority Level</label>
        <input type="text" name="priorityLevel" placeholder="Enter priority level.">
        <label>Status</label>
        <input type="text" name="status" placeholder="Enter status.">
        
        <button type="submit" class = "btn btn-primary">Submit</button>
    </form> -->

        <form method="POST" th:action="@{/todos/add}" th:object="${todo}">

            <div class="mb-3">
            <label class="form-labal">Name:</label>
            <input type="text" class="form-control" name="name" th:field="*{name}"  placeholder="Enter Name (10-50 characters long)" />
            <p class = "text-danger" data-th-if="${#fields.hasErrors('name')}" data-th-errors = "*{name}">
            </p>
            </div>

            <div class="mb-3">
            <label class="form-labal">Description:</label>
            <input type="text" class="form-control" name="description" th:field="*{description}"  placeholder="Enter description (less than 255 characters long)" />
            <p class = "text-danger" data-th-if="${#fields.hasErrors('description')}" data-th-errors = "*{description}">
            </p>
            </div>
            
            <div class="mb-3">
            <label class="form-labal">Due Date:</label>
            <input type="date" class="form-control" name="dueDate" th:field="*{dueDate}"  placeholder="Enter Due Date" />
            <p class = "text-danger" data-th-if="${#fields.hasErrors('dueDate')}" data-th-errors = "*{dueDate}">
            </p>
            </div>

            <div class="mb-3">
            <label class="form-labal">Priority Level:</label>
            <input type="text" class="form-control" name="priorityLevel" th:field="*{priorityLevel}"  placeholder="Enter Priority Level: low | medium | high" />
            <p class = "text-danger" data-th-if="${#fields.hasErrors('priorityLevel')}" data-th-errors = "*{priorityLevel}">
            </p>
            </div>

            <div class="mb-3">
                <label class="form-labal">Status:</label>
                <input type="text" class="form-control" name="status" th:field="*{status}"  placeholder="Enter Status: Pending | Started | Progress | Completed" />
                <p class = "text-danger" data-th-if="${#fields.hasErrors('status')}" data-th-errors = "*{status}">
                </p>
            </div>

            <button type="submit" class="btn btn-primary">Add Todo</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>